<div class="container">
  <div class="row justify-content-center">
      <div class="col">
          <div class="d-flex justify-content-center mt-5">
              <mat-icon class="icon-display" style="transform: scale(2);">person</mat-icon>
          </div>
          <div class="d-flex justify-content-center">
              <h1 class="my-3">List of users</h1>
          </div>
          <div class="card text-center m-5" *ngIf="bLoading">
              <div class="card-body">
                  <h3 class="text-danger">Processing... wait, please.</h3>
                  <div class="spinner-grow text-primary my-5" role="status">
                      <span class="sr-only"></span>
                  </div>
              </div>
          </div>
          <div class="d-flex justify-content-center" *ngIf="!bLoading">
              <a class="btn btn-primary mx-1" [routerLink]="['/admin','user','new']">New user</a>
          </div>
      </div>
      <div *ngIf="status!=null">
        <div class="d-flex justify-content-center my-3">
          <div class="alert alert-danger" role="alert">
            {{status!.error.message}} - {{status!.message}}
          </div>
        </div>
      </div>
      
      <div *ngIf="status==null">
        <div class="d-flex justify-content-between mb-3">
          <h3>No active filter</h3>
          <h3>Showing {{oPage?.numberOfElements}} of total {{oPage?.totalElements}} users.</h3>
        </div>
        <div class="flex justify-content-center mb-3">
          <p-paginator (onPageChange)="onPageChange($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
            [totalRecords]="oPage?.totalElements || 0"></p-paginator>
        </div>
      
      
        <div class="mb-5 ">
          <table class="table table-bordered table-striped table-hover table-sm">
            <thead>
              <tr>
                <th (click)="doOrder('id')">ID</th>
                <th (click)="doOrder('nombre')">Nombre</th>
                <th (click)="doOrder('apellidos')">Apellidos</th>
                <th (click)="doOrder('direccion')">Dirección</th>
                <th (click)="doOrder('email')">Email</th>
                <th (click)="doOrder('username')">Username</th>
                <th (click)="doOrder('role')">Role</th>
                <th>Noticias</th>
                <th>Respuestas</th>
                <th>Pedidos</th>
                <th>Tools</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of oPage?.content" class="align-middle">
                <td class="text-end"><strong>{{u.id}}</strong></td>
                <td>{{u.nombre}}</td>
                <td>{{u.apellidos}}</td>
                <td>{{u.direccion}}</td>
                <td>{{u.email}}</td>
                <td>{{u.username}}</td>
                <td class="text-center">
                  <span *ngIf="u.role==true">User</span>
                  <span *ngIf="u.role==false">Admin</span>
                </td>
                <td class="text-center">
                  <a [routerLink]="['/admin','thread','plist','byuser',u.id]" *ngIf="u.noticias>0">{{u.noticias}}</a>
                  <span *ngIf="u.noticias<=0">0</span>
                </td>
                <td class="text-center">
                  <a [routerLink]="['/admin','reply','plist','byuser',u.id]" *ngIf="u.respuestas>0">{{u.respuestas}}</a>
                  <span *ngIf="u.respuestas<=0">0</span>
                </td>
                <td class="text-center">
                  <a [routerLink]="['/admin','reply','plist','byuser',u.id]" *ngIf="u.documentos>0">{{u.documentos}}</a>
                  <span *ngIf="u.documentos<=0">0</span>
                </td>
                
                <td class="text-center">
                  <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <button class="btn btn-primary" [routerLink]="['/admin','user','view',u.id]"><i
                        class="pi pi-eye"></i></button>
                    <button class="btn btn-primary" (click)="doView(u)"><i class="pi pi-arrow-circle-up"></i></button>
                    <button class="btn btn-warning" [routerLink]="['/admin','user','edit',u.id]"><i
                        class="pi pi-pencil"></i></button>
                    <button *ngIf="u.noticias==0 && u.respuestas==0" class="btn btn-danger" (click)="doRemove(u)"><i
                        class="pi pi-trash"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
</div>

<p-confirmPopup></p-confirmPopup>