<div *ngIf="!strUserName">
  <h1 class="text-center mt-3 mb-5">REGISTRATE PARA PODER EMPEZAR A HACER PEDIDOS</h1>
</div>
<div *ngIf="strUserName">
    <h1 class="text-center mt-3 mb-5">PEDIDOS</h1>
    
<div *ngIf="status==null" class="paginator">

  <div class="flex justify-content-center mb-3 ">
    <p-paginator class="paginator paginator-custom  " (onPageChange)="onPageChange($event)" [first]="oPaginatorState.first!"
      [rows]="oPaginatorState.rows!" [totalRecords]="oPage?.totalElements || 0"></p-paginator>
      <div class="container" >
        <div class="row">
          <div *ngFor="let documento of documentos" class="encuadre col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <app-pedido-card-unrouted [documento]="documento"></app-pedido-card-unrouted>
          </div>
        </div>
      </div>


</div>
</div>
<div *ngIf="!strUserName">
    <h1 class="text-center "> Debes estar registrado para poder hacer pedidos</h1>
</div>