form{
    display: flex;
    flex-direction: column;
}

.inputs{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.input2{
    margin-left: 10px;

}

.botones{
    display: flex;
    align-items: center;
    justify-items: center;
}

.inicio{
    display: flex;
    justify-content: end;
}