

<nav class="navbar alturaNavbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://lluiment.es">
        <img src="../../../assets/lluïment1.webp" width="256" id="logo">
      </a>
  

      <div>
        
      </div>

      <div class="navbar-item apartado">
        <p-button  label="TIENDA"class="mr-2 " routerLink="/tienda" severity="warning" [text]="true" size="large"></p-button>
        <p-button  label="BLOG"class="mr-2 " routerLink="/blog" severity="warning" [text]="true" size="large"></p-button>
        <p-button  label="CARRITO"class="mr-2 " routerLink="/carrito" severity="warning" [text]="true" size="large"></p-button>
        <p-button  label="PEDIDOS"class="mr-2 " routerLink="/pedidos" severity="warning" [text]="true" size="large"></p-button>
      </div>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" (click)="toggleNavbar()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu bg-black " [ngClass]="{'is-active': isNavbarActive}">
      
  
      <div class="navbar-end" *ngIf="!strUserName">
        <div class="navbar-item">
          <div class="buttons is-centered p-5 ">
            <p-button  label="Lúcete" icon="pi pi-user-plus" class="mr-2 lucete"  severity="warning" [text]="true" size="large"></p-button>
            
            <p-button (click)="showDialog()" icon="pi pi-user" label="Ilumina" class="lucete" severity="warning" [text]="true" size="large"></p-button>
                <p-dialog [(visible)]="visible" class="p-custom-dialog">
                    <app-login-unrouted></app-login-unrouted>
                </p-dialog>
          </div>
        </div>
      </div>
      <div class="navbar-end" *ngIf="strUserName">
          <div class="navbar-item" *ngIf="strUserName && oSessionUser?.role==false">
            <p-tag severity="success" value="GESTIÓN"></p-tag>
            <p-button routerLink="/gProductos" label="PRODUCTOS" icon="pi pi-tag" [text]="true"></p-button>
            <p-button routerLink="/gUsuarios" label="USUARIOS" icon="pi pi-user" [text]="true"></p-button>
            <p-button routerLink="/gBlog" label="BLOG" icon="pi pi-align-justify" [text]="true"></p-button>
            
            
          </div>
          <div class="navbar-item">
            <p-button class="ml-5" (click)="logout()" label="APAGAR" icon="pi pi-times" [text]="true"></p-button>
          </div>
          
      </div>
    </div>

    
    
  </nav>

 