<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>
<h1>CREACIÓN DE USUARIO</h1>
<div *ngIf="status==null">
  <div class="col-12">
    <div class="d-flex justify-content-center my-3">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field [style.width.px]=350>
            <mat-label>Nombre:</mat-label>
            <input matInput formControlName="nombre" placeholder="Nombre" required>
            <mat-hint align="end">(3 to 255 characters long)</mat-hint>
            <mat-error *ngIf="hasError('nombre', 'required')">El nombre es necesario</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]=350>
            <mat-label>Apellidos:</mat-label>
            <input matInput formControlName="apellidos" placeholder="Apellidos" required>
            <mat-hint align="end">(3 to 255 characters long)</mat-hint>
            <mat-error *ngIf="hasError('apellidos', 'required')">Los apellidos son necesaria</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]=350>
            <mat-label>Dirección:</mat-label>
            <input matInput formControlName="direccion" placeholder="Dirección">
            <mat-hint align="end">(3 to 255 characters long)</mat-hint>
            <mat-error >La dirección es necesaria</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]=350>
            <mat-label>Username:</mat-label>
            <input matInput formControlName="username" placeholder="Username">
            <mat-hint align="end">(3 to 255 characters long)</mat-hint>
            <mat-error >El username es necesario</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]=350>
            <mat-label>Fecha nacimiento:</mat-label>
            <input matInput formControlName="fecha_nacimiento" placeholder="XXXX-XX-XX" required>
            <mat-hint align="end">(3 to 255 characters long)</mat-hint>
            <mat-error *ngIf="hasError('fecha_nacimiento', 'required')">La fecha es necesaria</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]=350>
            <mat-label>Email:</mat-label>
            <input matInput formControlName="email" placeholder="Email" required>
            <mat-hint align="end">(3 to 255 characters long)</mat-hint>
            <mat-error *ngIf="hasError('email', 'required')">El email es necesario</mat-error>
          </mat-form-field>
        </div>

        <div class="text-center mt-5">
          <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Crear Usuario</button>
        </div>

      </form>
    </div>
  </div>
</div>