
<div class="container">
  <div class="d-flex justify-content-between elementos text-">
    
      <div class="col-2"><img [src]="imageSrc" alt="Foto del producto" width="100px" class="p-1 border-5 "></div>
      <div class="col-2">{{detallepedido.producto.nombre}}</div>
      <div class="col-2">{{detallepedido.producto.tipo}}</div>
      <div class="col-2">
      <div class="sumarrestar">
        {{detallepedido.cantidad}}
        <div class="sumaresta"> 
        <p-button  label="+"class="mr-2 "  severity="success" [text]="true" size="large"></p-button>
        <p-button  label="-"class="mr-2 " severity="danger" [text]="true" size="large"></p-button>
      </div>
      </div>
      </div>
      <div class="col-2 mr-5">{{detallepedido.producto.precio}}€</div>  
    
   
  </div>
</div>



    